@page
@{
    ViewBag.SiteTitle = "Kushal's Intro";
}


<body>
    <h3>Kushal Vaghani</h3>
    <form>
        <input type = "number" name="first Number"/>
        <input type ="number" name="Second Number"/>
        <input type ="submit" name="Submit"/>
    </form>

</body>

@section Test
{
    <p>
        Lorem Ipsumis simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.
    </p>
}